In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\mauna\anaconda3\lib\site-packages (4.8.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\mauna\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\mauna\anaconda3\lib\site-packages (from selenium) (0.10.2)
Requirement already satisfied: trio~=0.17 in c:\users\mauna\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\mauna\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\mauna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.1)
Requirement already satisfied: sortedcontainers in c:\users\mauna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\mauna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\mauna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\mauna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\mauna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\mauna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\mauna\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\mauna\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\mauna\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\mauna\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mauna\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings 
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By 
import time

# Q1 # Data analyst web scrapping

In [16]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [17]:
driver.get("https://www.naukri.com/")

In [18]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [20]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [22]:
search=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()

In [47]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [46]:
#Scrapping the Job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#Scrapping the Job locations
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for j in location_tags[0:10]:
    location=j.text
    job_location.append(location)
#Scrapping the Company 
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for k in company_tags[0:10]:
    company=k.text
    company_name.append(company)
#Scrapping the Experience 
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for l in experience_tags[0:10]:
    exp=l.text
    experience_required.append(exp)

In [25]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

0 0 0 0

In [26]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_Name':company_name,'Experience':experience_required})
df

Empty DataFrame
Columns: [Title, Location, Company_Name, Experience]
Index: []

# Q2  data scientist web scrapping

In [28]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [29]:
driver.get("https://www.naukri.com/")

In [30]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data scientist')

In [31]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [32]:
search=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()

In [48]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [49]:
#Scrapping the Job title 
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#Scrapping the Job locations
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for j in location_tags[0:10]:
    location=j.text
    job_location.append(location)
    #Scrapping the Company Names
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for k in company_tags[0:10]:
    company=k.text
    company_name.append(company)
#Scrapping the Experience 
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for l in experience_tags[0:10]:
    exp=l.text
    experience_required.append(exp)

In [50]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_Name':company_name,'Experience':experience_required})
df

Empty DataFrame
Columns: [Title, Location, Company_Name, Experience]
Index: []

# Q3 data scientist scrapping by filters

In [36]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [37]:
driver.get("https://www.naukri.com/")

In [38]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data scientist')

In [39]:
search=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()

In [40]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[2]/div[2]/div[3]/label/i')
location.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[2]/div[2]/div[3]/label/i"}
  (Session info: chrome=112.0.5615.50)
Stacktrace:
Backtrace:
	(No symbol) [0x010DDCE3]
	(No symbol) [0x010739D1]
	(No symbol) [0x00F84DA8]
	(No symbol) [0x00FB019F]
	(No symbol) [0x00FB03AB]
	(No symbol) [0x00FDEE62]
	(No symbol) [0x00FCAF14]
	(No symbol) [0x00FDD57C]
	(No symbol) [0x00FCACC6]
	(No symbol) [0x00FA6F68]
	(No symbol) [0x00FA80CD]
	GetHandleVerifier [0x01353832+2506274]
	GetHandleVerifier [0x01389794+2727300]
	GetHandleVerifier [0x0138E36C+2746716]
	GetHandleVerifier [0x01186690+617600]
	(No symbol) [0x0107C712]
	(No symbol) [0x01081FF8]
	(No symbol) [0x010820DB]
	(No symbol) [0x0108C63B]
	BaseThreadInitThunk [0x76B77D69+25]
	RtlInitializeExceptionChain [0x76F8B74B+107]
	RtlClearBits [0x76F8B6CF+191]

In [41]:

salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary.click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i"}
  (Session info: chrome=112.0.5615.50)
Stacktrace:
Backtrace:
	(No symbol) [0x010DDCE3]
	(No symbol) [0x010739D1]
	(No symbol) [0x00F84DA8]
	(No symbol) [0x00FB019F]
	(No symbol) [0x00FB03AB]
	(No symbol) [0x00FDEE62]
	(No symbol) [0x00FCAF14]
	(No symbol) [0x00FDD57C]
	(No symbol) [0x00FCACC6]
	(No symbol) [0x00FA6F68]
	(No symbol) [0x00FA80CD]
	GetHandleVerifier [0x01353832+2506274]
	GetHandleVerifier [0x01389794+2727300]
	GetHandleVerifier [0x0138E36C+2746716]
	GetHandleVerifier [0x01186690+617600]
	(No symbol) [0x0107C712]
	(No symbol) [0x01081FF8]
	(No symbol) [0x010820DB]
	(No symbol) [0x0108C63B]
	BaseThreadInitThunk [0x76B77D69+25]
	RtlInitializeExceptionChain [0x76F8B74B+107]
	RtlClearBits [0x76F8B6CF+191]

In [42]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [43]:
#Scrapping the Job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
#Scrapping the Job locations 
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for j in location_tags[0:10]:
    location=j.text
    job_location.append(location)
#Scrapping the Company Names
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for k in company_tags[0:10]:
    company=k.text
    company_name.append(company)
#Scrapping the Experience 
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for l in experience_tags[0:10]:
    exp=l.text
    experience_required.append(exp)

In [44]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_Name':company_name,'Experience':experience_required})
df

Empty DataFrame
Columns: [Title, Location, Company_Name, Experience]
Index: []

# Q4 SUNGLASSES SCRAPPING IN FLIP KART

In [2]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [5]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [7]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [14]:
name=[]
description=[]
price=[]
discount=[]

In [15]:
#for page selection
start=0
end=2
for page in range(start,end):
    names=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    descriptions=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    discounts=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in names:
        name.append(i.text)
    for j in descriptions:
        description.append(j.text)
    for k in prices:
        price.append(k.text)
    for l in discounts:
        discount.append(l.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
tnames=name[0:100]
tdes=description[0:100]
tprice=price[0:100]
tdisc=discount[0:100]

In [16]:
import pandas as pd
df4=pd.DataFrame({'Brand Name':tnames,'Information':tdes,'Cost':tprice,'Offers':tdisc})
df4

,Brand Name,Information,Cost,Offers
0,RED MONK,"UV Protection, Polarized, Mirrored Retro Squar...",₹492,62% off
1,Royaltail,Polarized Rectangular Sunglasses (58),"₹1,274",74% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹149,88% off
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
4,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹268,83% off
...,...,...,...,...
75,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)",₹929,53% off
76,VINCENT CHASE,"Polarized, UV Protection Rectangular Sunglasse...",₹901,63% off
77,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629,37% off
78,Silver Kartz,UV Protection Clubmaster Sunglasses (53),₹226,84% off
79,Sewell,UV Protection Over-sized Sunglasses (Free Size),₹459,69% off

# Q5 SCRAPPING I PHONE

In [57]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [58]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [59]:
rating=[]
review=[]
full_review=[]

In [61]:
#Scrapping 100 Sunglasses from next papges
start=0
end=10
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    reviews=driver.find_elements(By.CLASS_NAME,"_2-N8zT")
    full_reviews=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in ratings:
        rating.append(i.text)
    for j in reviews:
        review.append(j.text)
    for k in full_reviews:
        full_review.append(k.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
tratings=rating[0:100]
treview=review[0:100]
tfull_review=full_review[0:100]

In [62]:
import pandas as pd
df5=pd.DataFrame({'RATING POINTS':tratings,'Review Summary':treview,'Full Review':tfull_review})
df5

,RATING POINTS,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Really satisfied with the Product I received.....
2,5,Best in the market!,Amazing phone with great cameras and better ba...
3,4,Value-for-money,Great iPhone very snappy experience as apple k...
4,5,Highly recommended,I'm Really happy with the product\nDelivery wa...
...,...,...,...
95,5,Perfect product!,It's my first time to use iOS phone and I am l...
96,5,Highly recommended,Previously I was using one plus 3t it was a gr...
97,4,Value-for-money,I was using Iphone 6s and also Oneplus 6t. Bot...
98,5,Highly recommended,Value for money\n5 star rating\nExcellent came...
99,5,Perfect product!,What a camera .....just awesome ..you can feel...

# sneakers list

In [64]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [65]:
driver.get('https://www.flipkart.com/')

In [66]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sneakers')

In [68]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [73]:
snkr_name=[]
snkr_description=[]
snkr_price=[]

In [78]:
#Scrapping 100 Sunglasses from next papges
start=0
end=3
for page in range(start,end):
    names=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    descriptions=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in names:
        snkr_name.append(i.text)
    for j in descriptions:
        snkr_description.append(j.text)
    for k in prices:
        snkr_price.append(k.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
tnames=snkr_name[0:100]
tdes=snkr_description[0:100]
tprice=snkr_price[0:100]

In [79]:
print(len(tnames),len(tdes),len(tprice))

100 100 100

In [80]:
import pandas as pd
df6=pd.DataFrame({'Brand Name':tnames,'Information':tdes,'Cost':tprice})
df6

     Brand Name                                        Information    Cost
0        BRUTON      Combo Pack Of 2 Casual Shoes Sneakers For Men    ₹599
1      RapidBox                                   Sneakers For Men    ₹571
2           SFR                                   Sneakers For Men    ₹299
3          aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹399
4         AMICO                                   Sneakers For Men    ₹387
..          ...                                                ...     ...
95         aadi                               327 Sneakers For Men    ₹349
96  New Balance  Men's Outdoor Color Change Sneakers Colorblock...  ₹4,230
97        SERSI  Synthetic| Lightweight| Premiun| Comfort| Summ...    ₹749
98         aadi  Modern Trendy Sneakers boot Sneakers Sneakers ...    ₹349
99     Magnolia                                   Sneakers For Men    ₹399

[100 rows x 3 columns]

# laptop ratings

In [81]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [82]:
driver.get('https://www.amazon.in/')

In [83]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [84]:
search=driver.find_element(By.XPATH,'//input[@type="submit"]')
search.click()

In [87]:
select_i7=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[10]/span/a/span')
select_i7.click()

In [88]:
lap_title=[]
lap_rating=[]
lap_price=[]

In [89]:
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=i.text
    lap_title.append(title)
#Scrapping ratings of the laptop from the given page
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for j in rating_tags[0:10]:
    rating=j.text
    lap_rating.append(rating)
#Scrapping the price of each laptop from the given page
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for k in price_tags[0:10]:
    price=k.text
    lap_price.append(price)
df7=pd.DataFrame({'Laptop Name':lap_title,'Ratings':lap_rating,'Price':lap_price})
df7

                                         Laptop Name Ratings     Price
0  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...     4.1    79,990
1  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...     4.4    94,990
2  Dell G15 5520 Windows 11 Gaming Laptop, Intel ...     3.4  1,07,590
3  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...     4.3    31,490
4  (Renewed) HP ELITEBOOK 840 G5 (Core i7 8th GEN...     4.0    84,990
5  ASUS Vivobook S15 OLED 2022, 15.6" 39.62 cms F...     4.1    94,990
6  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...     4.3    89,990
7  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...     4.0  1,01,990
8  ASUS TUF Dash F15, Intel Core i7-12650H 12th G...     3.7    84,910
9  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...     3.2  1,03,990

# scrapping amazing quotes

In [90]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [91]:
driver.get('https://www.azquotes.com/')

In [104]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/div/div[3]/div/div[1]/header/div[3]/ul/li[9]/a')
search.click()

In [96]:
quote=[]
author=[]
type_quote=[]

In [97]:
#Scrapping the Quote from the given page
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags:
    quote.append(i.text)
#Scrapping the Author of each quote
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for j in author_tags:
    author.append(j.text)
#Scrapping the type of the quotes
type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for k in type_tags:
    type_quote.append(k.text)

In [98]:
import pandas as pd
df=pd.DataFrame({'QUOTE':quote,'AUTHOR':author,'Type of the Quote':type_quote})
df

,QUOTE,AUTHOR,Type of the Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
99,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

# list of prime ministers

In [105]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [106]:
driver.get('https://www.jagranjosh.com/')

In [107]:
search=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[9]/a")
search.click()

In [108]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
search.click()

In [109]:
name=[]
born_dead=[]
term=[]
remarks=[]

In [110]:
name_tags=driver.find_elements(By.XPATH,"//td[starts-with(@style,'width: 150px')]")
for i in name_tags:
    name.append(i.text)
pm_name=name[0:18]
#Scrapping the Born-Dead time of each Prime Minister
born_dead_tags=driver.find_elements(By.XPATH,"//td[starts-with(@style,'width: 105px')]")
for j in born_dead_tags:
    born_dead.append(j.text)
#Scrapping the Term of Each Prime Minister
term_tags=driver.find_elements(By.XPATH,"//td[starts-with(@style,'width: 256px')]")
for k in term_tags:
    term.append(k.text)
#Scrapping the Term of Each Prime Minister
remarks_tags=driver.find_elements(By.XPATH,"//td[starts-with(@style,'width: 145px')]")
for l in remarks_tags:
    remarks.append(l.text)

In [111]:
import pandas as pd
df9=pd.DataFrame({'Name of The Prime Minister':pm_name,'BORN - DEAD':born_dead,'Term of Office':term,'REMARKS':remarks})
df9

,Name of The Prime Minister,BORN - DEAD,Term of Office,REMARKS
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

 # list of expensive cars

In [112]:
driver=webdriver.Chrome(r"C:\Users\Mauna\Downloads\chromedriver_win32\chromedriver.exe")

In [113]:
#Opening motor1 page to scrape Expensice cars page on automated chrome browser
driver.get('https://www.motor1.com/')

In [114]:
#Clicking on the Dropdown menu on the left side on the page
menu=driver.find_element(By.XPATH,'//div[@class="box-item-left"]')
menu.click()

In [115]:
#Clicking on the Features tab on Dropdown menu on the left side on the page
feature=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[5]')
feature.click()

In [117]:
#Clicking on the List tab on Features menu of Dropdown menu on the left side on the page
list_cars=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div/div/div/div/div/a[1]')
list_cars.click()

In [118]:
#Clicking on the List tab on Features menu of Dropdown menu on the left side on the page
expensive_cars=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[8]/div/div[1]/h3/a')
expensive_cars.click()

In [119]:
name=[]
price=[]

In [120]:
#Scrapping the name of the car from the given page
name_tags=driver.find_elements(By.XPATH,'//h3[@ class="subheader"]')
for i in name_tags[0:50]:
    names=i.text
    name.append(names)
price_tags=driver.find_elements(By.TAG_NAME,"strong");
for j in price_tags[0:50]:
    prices=j.text
    price.append(prices)
del price[3]
price.insert(3,"Price: $1.7 Million")

In [121]:
import pandas as pd
df10=pd.DataFrame({'Name of The Car':name,'Price of the Car':price})
df10

                    Name of The Car      Price of the Car
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva   Price: $1.7 Million
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million